<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言本</title>
</head>
<body>
<div class="header container">
    <div class="page-header">
        <h1>留言板列表</h1>
        <a class="btn btn-success" href="#">发表留言</a>
    </div>
    <div class="comments container">
        <ul class="list-group">
            111
            <!--<li class="list-group-item">不错说：对南沙健康拿到数据看定金款三 <span class="pull-right">2017-11-2 17:11:22</span></li>
            <li class="list-group-item">范家伟说：香锅还是香锅啊<span class="pull-right">2017-11-2 17:11:22</span></li>
            <li class="list-group-item">王汪汪说：能看出来是谁发的吗 <span class="pull-right">2017-11-2 17:11:22</span></li>
            <li class="list-group-item">马化腾说：不充钱怎么变得更强 <span class="pull-right">2017-11-2 17:11:22</span></li>
            <li class="list-group-item">崔铭说：催什么催，快下课 <span class="pull-right">2017-11-2 17:11:22</span></li>
            <li class="list-group-item">王一丹说：社会我丹姐 <span class="pull-right">2017-11-2 17:11:22</span></li>
            <li class="list-group-item">王一丹说：本仙女最美 <span class="pull-right">2017-11-2 17:11:22</span></li>-->
        </ul>
    </div>
</div>
</body>
</html>
