<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>
    这是一个ejs的后台模板引擎-登录
</h2>
<form action="/doLogin" method="post">
    <input type="text" name="username">
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit" value='登录'>
</form>
</body>
</html>
